@model HotelRepoPatternAssignment.Models.Hotel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HotelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HotelName)
        </dd>
    </dl>

    <table class="table">
        <thead>
            <tr>
                <th>
                   Room Number
                </th>
                <th>
                    Room Type
                </th>
                <th>
                    Price
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Room)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RooomType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-controller="Room" asp-action="Edit"  asp-route-id="@item.RoomId">Edit</a> |
                        <a asp-controller="Room" asp-action="Details"  asp-route-id="@item.RoomId">Details</a> |
                        <a asp-controller="Room" asp-action="Delete" asp-route-id="@item.RoomId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>



</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HotelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
